:root {
    --color-black: #0d0d0d;
    --color-gray: #f0eef0;
    --color-red: #fc4121;
    --color-lime: #c1fd3a;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
}

*,
:after,
:before {
    box-sizing: border-box;
    flex-shrink: 0;
}

:root {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    cursor: default;
    line-height: 1.5;
    overflow-wrap: break-word;
    -moz-tab-size: 4;
    tab-size: 4
}

html {
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

button {
    background: none;
    border: 0;
    cursor: pointer;
}

a {
    text-decoration: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

ul {
    list-style: none;
}

fieldset {
    border: 0;
}

body {
    height: 100%;
    font-family: 'PPWoodland, sans-serif';
    font-size: 13.38px;
    color: var(--color-black);
    -webkit-font-smoothing: antialiased;
}